{% extends "index.html" %} {% block title%} Boejang Beans. {% endblock %} {%
block body %}

<!-- Main Store Body -->
{% if session['user'] %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <strong>Welcome, {{ session['user'] }}</strong> Hope you have a pleasant
  experience shopping with us.
</div>
{% endif %}

<div class="row" id="productCard">
  {% for product in products %}
  <div class="col-sm">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">{{ product['nama'].capitalize() }}</h5>
        <img
          src="/static/images/{{ product['foto'] }}"
          class="product-img"
          alt="{{ product['nama'] }}"
        />
        <h5 class="card-text">{{ product['nama'] }}</h5>
        <h4 class="card-text price">
          {{ '{:,.2f}'.format(product['harga']) }}
        </h4>

        <div class="stepper-input">
          <span class="decrement target">-</span>
          <input class="quantity" name="quantity" value="0" />
          <span class="increment target">+</span>
        </div>

        <!-- Form for Add to Cart -->
        {% if session['user'] %}
        <form action="/add_to_cart" method="POST">
          <input type="hidden" name="id" value="{{ product['id'] }}" />
          <input type="hidden" name="nama" value="{{ product['nama'] }}" />
          <input type="hidden" name="harga" value="{{ product['harga'] }}" />
          <input
            type="hidden"
            name="foto"
            value="/static/images/{{ product['foto'] }}"
          />
          <input
            type="submit"
            class="btn btn-primary addToCart"
            value="Add To Cart"
          />
        </form>
        {% else %}
        <p class="text-danger">
          You must be logged in to add items to the cart.
        </p>
        <a href="/login" class="btn btn-secondary">Login</a>
        {% endif %}

        <div
          class="alert alert-danger flashMessage"
          style="text-align: center; display: none; font-size: 0.9em"
        ></div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
